binary/
binary*.iso
binary*.img
binary*.tar*
binary*.contents
binary*.packages
binary*.zsync
binary.modified_timestamps

.build/
build.log

cache/

chroot/
chroot.packages.*
chroot.files

config/binary
config/bootstrap
config/chroot
config/common
config/source

config/control

source/
source*.iso
source*.img
source*.tar*
source*.contents
source*.packages
source*.zsync

config/hooks/live/0010-disable-kexec-tools.hook.chroot
config/hooks/live/0050-disable-sysvinit-tmpfs.hook.chroot
config/package-lists/live.list.chroot

.lock
